@model NewsSite_v1._1.Models.EmailFormModel
@{
    ViewBag.Title = "Send Email";
}

<h4>@ViewBag.Test</h4>
@using Microsoft.AspNet.Identity
@using (Html.BeginForm())
{
    if (Request.IsAuthenticated && User.Identity.GetUserName() == "shuoqi715@gmail.com")
    { 
        @Html.AntiForgeryToken()
        <h4>Send Email to All Users</h4>
        <hr />
        <table class="table" id="articleTable">
            <thead>
                <tr>
                    <th>
                        @Html.Label("Check All")
                    </th>
                    <th>
                        @Html.Label("Email")
                    </th>
                    <th>
                        @Html.Label("First Name")
                    </th>
                    <th>
                        @Html.Label("Last Name")
                    </th>
                    <th>
                        @Html.Label("Phone")
                    </th>
                    <th>
                        @Html.Label("Country")
                    </th>
                    <th>
                        @Html.Label("Company")
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.User)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="SendEmail" value="@item.Email" />                       
                        </td>
                        <td>
                            <label for="Email">@item.Email</label>
                        </td>
                        <td>
                            <label for="FName">@item.FName</label>
                        </td>
                        <td>
                            <label for="FName">@item.LName</label>
                        </td>
                        <td>
                            <label for="Phone">@item.Phone</label>
                        </td>
                        <td>
                            <label for="Country">@item.Country</label>
                        </td>
                        <td>
                            <label for="Company">@item.Company</label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Message)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Send" />   @Html.ActionLink("return","Index")<br />
                @if (ViewBag.Sending != "")
                {
                    <p>@ViewBag.Sending</p>
                }
            </div>
        </div>
    }
}


